:root{
    --primary : #000000;
    --secondary : #f1f1f1;
    --hover: #3ccc;
    --user-chat-bg: #ecf0f1;
    --light-blue: #dbeafe;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----universal----- */
.myshadow{
    border-radius: 20px ;
    border-top-left-radius: 2px;
    background: #ecf0f1;
    padding: 4px;
}
.mytransition{
    transition: all .35s ease-in-out;
}

.mytransition-2{
    transition: transform .35s ease-in-out;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 50px;
    scrollbar-gutter: sabtle;
    background: rgba(0, 0, 0, .2);
    border-radius: 5px;
}
/*------------------------- sidebar */
.sidebar{
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 1;
    background: var(--primary);
    color: var(--secondary);
    /* animation: sidebar-anime .25s ease-in-out; */
}
@keyframes sidebar-anime {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
.sidebar-none{
    display: none;
}
#menu-icon{
    display: none;
    cursor: pointer;
}
#menu-btn-lg{
    position: fixed;
    z-index: 100;
    top: 50%;
    /* left: 0; */
    transform: translateY(-50%);
    cursor: pointer;
}
#menu-close-btn{
    display: none;
    cursor: pointer;
}
#sidebar-wrapper{
    /* height: 90%; */
    flex-grow: 1;
}
.user-chat-list li{
    margin: 10px 0px;
    padding: 8px 4px;
    border-radius: 1px;
    border-bottom: 1px solid;
    transition: background .25s ease-in-out;
}
.user-chat-list li:hover{
    cursor: pointer;
    border-radius: 4px;
    background: var(--hover);
}
#sidebar-header, #sidebar-footer{
    background: var(--primary);
}

/* sidebar-footer */
#user-img{
    width: 40px;
    border-radius: 50px;
}
/*------------------------ chatpage */
.chatpage{
    width: 100%;
    position: absolute;
}
.chatpage-animation-margin{
    animation: chatpage-anime .25s ease-in-out;
}
.margin-left{
    margin-left: 256px;
}
.margin-left-0{
    margin-left: 0;
}
#chatpage-wrapper{
    max-width: 600px;
    /* position: relative; */
    margin-inline: auto;
    flex-grow: 1;
}
#chatpage-header, #chatpage-footer{
    background: var(--light-blue);
}
#form{
    width: min(60%,600px);
    /* min-width: 50%;
    max-width: 600px; */
    /* max-width: 800px; */
    /* margin-left: -14vw; */
    position: relative;
    text-align: center; 
}
#form input{
    width: 100%;
}
#chatpage-userchat{
    padding-bottom: 200x;
}
#userchat-img{
    width: 20px;
    border-radius: 50px;
}
#chatpage-footer{
    /* max-width: 600px; */
    width: 100%;

}


/** -------responsive------ */
@media (max-width: 768px){
    /** sidebar */
    .sidebar{
        display: none;
        position: fixed;
        z-index: 1;
        animation: sidebar-anime .25s ease-in-out;
    }
    @keyframes sidebar-anime {
        from{
            transform: translateX(-300px);
        }
        to{
            transform: translateX(0);
        }
    }
    #menu-icon{
        display: block;
    }
    #menu-btn-lg{
        display: none;
    }
    #menu-close-btn{
        display: block;
    }
    /* *----chatpaage--- */
    .chatpage{
        /* width: 100%; */
        margin-left: 0;
    }
    #form{
        width: 600px;
        /* margin-left: -10vw; */
        margin-inline: auto;
        text-align: center;
        /* align-items: center; */
        /* justify-content: center; */
        position: relative;
        
    }
}